.Nunito-font {
  font-family: "Nunito", sans-serif;
}

.font-large {
  font-size: 72px;
}

.font-medium {
  font-size: 36px;
}

.font-kindaSmall {
  font-size: 25px;
}

.font-small {
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}

.font-color-white {
  color: white;
}

.font-color-grey {
  color: darkgray;
}

.font-color-lightgrey {
  color: lightgrey;
}

.font-color-green {
  color: #6fbe44;
}

.font-color-black {
  color: black;
}

.green-outline  {
  border: solid !important;
  border-color: #6fbe44 !important;
  border-width: 2px !important;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom-minus-10 {
  margin-bottom: -10px;
}

.big-padding-bottom {
  padding-bottom: 96px;
}

.medium-padding-bottom {
  padding-bottom: 42px;
}

.more-padding-bottom {
  padding-bottom: 24px;
}

.small-padding-bottom {
  padding-bottom: 18px;
}

.big-padding-top {
  padding-top: 96px;
}

.small-padding-top {
  padding-top: 24px;
}

.background-site {
  background-image: url('/images/Landing-3.jpg');
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.background-site-second {
  background-image: url('/images/Landing-4.jpg');
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.inverted-section {
  background-color: rgba(0, 0, 0, .8);
}

.inverted-section-OF {
  background-color: rgba(0, 0, 0, .8);
  overflow: hidden;
}

.inverted-section-with-padding {
  background-color: rgba(0, 0, 0, .8);
  padding-top: 68px !important;
  padding-bottom: 9px !important;
}

.inverted-main-header {
  color: #fff;
  font-size: 72px;
}

.footer-trial {
  position: absolute;
  bottom: 0;
}

.mentor-card-header {
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, .8);
}

.mentor-card-content  {
  background-color: rgba(0, 0, 0, .8);

}

.greenBlock{
  background-color: rgba(0, 255, 0, .3);
}

.redBlock{
  background-color: rgba(255, 0, 0, .3);
}

.fixed {
  position: sticky;
  top: -71px;
  left: 0;
  right: 0;
  height: 71px;
}
